
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5b79e7;
  padding: 15px 30px;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.navbar h4 {
  margin: 0;
  font-size: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #1da1f2;
}

.content-1 {
  position: relative;
  width: 100%;
  height: 92vh;
  background-image: url('./component/image/photo-1486312338219-ce68d2c6f44d\ \(1\).avif'); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}



.intro-paragraph {
  position: relative;
  z-index: 1;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  max-width: 700px;
  line-height: 1.6;
  color: rgb(38, 8, 8);
  background: rgba(255, 255, 255, 0.737); 
   border-radius: 10px;
  backdrop-filter: blur(3px);
}
